'use strict';

const config = {};

config.bs = { // settings for beanstalk
	host: process.env.BEANSTALKD_HOST || 'beanstalkd',
	port: process.env.BEANSTALKD_PORT || 11300,
	tube: process.env.BEANSTALKD_TUBE ||'tube',
};

// Point this to your mongodb address
config.mongodb = process.env.MONGODB_URI || 'mongodb://mongodb:27017/exchange_rate';

config.exchange = {
	// Total retry limit when the job successed
	successLimit: 10,

	// Delayed time to reserve the job again
	successDelaySec: 60,

	// Total retry limit when the job failed
	failLimit: 3,

	// Delayed time to reserve the job again
	failDelaySec: 3,

	apiKey: process.env.EXCHANGE_API_KEY || 'apiKey'
};

module.exports = config;
